
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  margin:auto;
}


.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 680px;
  height: 700px;
  text-align: center;
  margin:auto;
}


h1 {
  color: #2b946c;
  margin-bottom: 10px;
  margin-top:40px;
}

.field-label{
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  background-color: #2b946c;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

.active-tasks-title {
  margin: 25px 0px;
}

/* Task List */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f1f1f1;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.completed-section {
  margin-top: 15px;
}

.completed-section h2 {
  font-size: 16px;
}

.completed-task {
  text-decoration: line-through;
  color: gray;
}
